<!--
Colin Evans
CSE 270E
Module 8, Chapter 3 Foundations
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TicTacToe Pages</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head><!--end of the head-->
    <body>

