<% include header %>

<center><h1>Welcome to the manage games pages</h1></center>

<ul>
	<li><a href="/statistics">See player stats</a></li>
        <li><a href="/allGames">See a list of all games</a></li>
        <li><a href="/inProgress">See a list of all the games in progress</a></li>
        <li><a href="/orphans">See a list of the orphaned games</a></li>
        <li><a href="/clear">Clear out all games</a></li>

</ul>


<% include footer %>
