
<% include header %>

<h2>About this assignment</h2>

<ul>
    <li>Author: Colin Evans</li>
    <li>Course: CSE 270E</li>
    <li>Date: 1/14/2019</li>
    <li>Assignment: Module 8 - Chapter 3: Foundations</li>
</ul>

<% include footer %>