<!DOCTYPE html>
<html>
<head>
	<!-- scott campbel
	 assignment 13
	 cse270e
	 Winter 2019
	-->

<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="utf-8">
  <title>Mongo</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style>
label{
	width: 150px;
		text-align: right;
}
</style>
</head>
<body>
