
<% include header %>

<h2>Write a new entry</h2>

<!--start of the form-->
<form method="post" role="form">
    <!--asks for title of the post-->
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Entry title" required>
    </div>
    <!--asks for text of the post-->
    <div class="form-group">
        <label for="body">Entry text</label>
        <textarea class="form-control" id="body" name="body" placeholder="Love Express! It's a great tool for building websites." rows="3" required></textarea>
    </div>
    <!--asks for name of the poster-->

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
    </div>
    <!--submits the post-->
    <div class="form-group">
        <input type="submit" value="Post entry" class="btn btn-primary">
    </div>
</form>

<% include footer %>