<% include header %>

<h1>What's your ZIP code?</h1>

    <form class="pure-form" id="indexForm">
        <fieldset>
            <input type="number" name="zip" placeholder="12345" autofocus required>
            <input type="submit" class="pure-button pure-button-primary" value="Go">
        </fieldset>
    </form>

    <a href="/summary">Daily Summary</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/the.js"></script>

<% include footer %>